body {
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: fuchsia;
}

@keyframes animate {
20% {
transform: translate(0, calc(100vh - 100px));
  }

40% {
  transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }

60% {
  transform: translate(calc(100vh - 100px), 0);
}
80% {

transform: translate(0, calc(100vw - 100px));
}

100% {

}
}

.box-animate2 {
animation: animate 10s ease-out;
}
